<!DOCTYPE html>
<html>

<head>
    <title> Locations </title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/locations.css" />
</head>

<body>
    <div class="container">
        <a href="./results.html">
            <img id="backwards" src="../images/back.png" />
        </a>
    </div>
    <div class="MapText">
    <h3> Golden Apple </h3>
    <p>Locally owned shop features a variety of graphic novels, games, toys <br>and collectibles in a snug space.</p>
    <p>Address: 7018 Melrose Ave, Los Angeles, Ca 90038</p>
    <p>Hours: 11AM-7PM</p>
    <p>Phone:(323) 658-6047</p>

    <h3> Dreamworld Comics</h3>
    <p>Colorful comic book shop specializing in new releases, collectibles, toys and events.</p>
    <p>Address: 12402 Washington Pl, Los Angeles, CA 90066</p>
    <p>Hours: 11AM-7PM</p>
    <p>Phone:(310) 390-7860</p>

    <h3> The Comig Bug </h3>
    <p>Inviting comic-book store packing a large variety of titles into a small space.</p>
    <p>Address: 4267 Overland Ave, Culver City, CA 90230</p>
    <p>Hours: 11AM-8PM</p>
    <p>Phone:(310) 204-3240</p>
    </div>


    <div id="map">

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo5NAJpsUyFrXf-FKpO4oz5Yo3ZW4u2y8&callback=initMap"
        type="text/javascript"></script>
    <script src="../script/locations.js"></script>
</body>

</html>